div{
  text-align: center;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 100%;
  margin: auto;
  background-color: slategray;

}

.title {
  font-size: 18px;
  color: white;
}



a {
  color: mistyrose;
  font-size: 22px;
  font-family: "Lucida Console", "Courier New", monospace;
}
a:hover{
    color: black;
    background-color: mistyrose
}

iframe{

  background-image: url(img2.jpg);
  background-size: 100%;
}
